html {
    font-size: 24px;
}

body {
    font-family: Inter, Arial;
}

.container {
    width: 800px;
    margin: 0px auto;
}

h1 {
    text-align: center;
}

ol li::marker {
    font-weight: bold;
}

.container>ol>li {
    padding: 3rem 0px;
    border-bottom: 1px solid #EEE;
}

.gray {
    color: #999;
}

span.var {
    display: inline-block;
    font-style: italic;
    color: rgb(151, 31, 111);
    font-weight: bold;
}